.destination-section {
  margin-top: 4rem;
}
.destinations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  gap: 1.5rem;
  padding: 0 1.5rem;
}
.destination-item{
  height: max-content;
  padding-bottom:1rem ;
}
.destination-image {
  overflow: hidden;
}
.destination-image img {
  width: 100%;
  object-fit: cover;
}
.destination-details {
  padding: 0.6rem 1rem;
}
.destination-name {
  text-transform: uppercase;
  font-weight: 600;
}
.short-description {
  font-size: 14px;
  margin: 0.4rem 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.group-price, .individual-price{
  font-weight: 500;
  font-size: 15px;
}
.more-details{
  padding: .5rem .5rem;
  background-color: #294b29;
  margin: 1rem;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .destinations {
    display: flex;
    flex-direction: column;
  }
}
