.trips-section {
  margin-top: 4rem;
}
.trip-section-packages {
  padding: 0 1.5rem;
}
.trip-package {
  display: grid;
  margin-bottom: 2rem;
}
.package-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.package-name {
  text-transform: capitalize;
}
.package-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0.8rem 0;
}
.package-gallery-card-image {
  width: 320px;
  height: 220px;
  overflow: hidden;
}
.image-placeholder {
  background-color: var(--border-shading);
  height: 100%;
  width: 100%;
  transition: all 0.5s;
}
.package-gallery-card-image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.package-gallery-card-image img:hover {
  scale: 1.3;
}
.package-gallery-card-details {
  padding: 1rem;
}
.card-name {
  font-weight: 600;
  display: flex;
  gap: 5px;
}
.card-description {
  font-size: 13px;
  font-weight: 200;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 5px 0;
}

.view-more-button {
  background-color: var(--secondary-color);
  border-radius: var(--button-radius);
  padding: 0.3rem 0.6rem;
  color: var(--primary-color);
  text-decoration: none;
  width: fit-content;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.5s;
}
.view-more-button:hover {
  background-color: var(--primary-color);
  color: inherit;
  border: 1px solid var(--secondary-color);
}

.card-price {
  font-size: small;
  font-weight: bold;
}

@media screen and (max-width: 950px) {
  .package-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 670px) {
  .package-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .package-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
