.contact-section {
  margin-top: 4rem;
}
.contact-section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-details {
  margin-top: 1rem;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  transform: translateY(4rem);
}
.contact-map iframe{
  width: 90vw;
  border: none;
}
.contact-socials {
  padding: 0.5rem 2rem;
}
.contact-socials h3, .contact-form h3 {
  text-transform: capitalize;
  font-weight: 550;
  text-align: center;
}
.contact-socials-items {
  padding: 0.4rem 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.social-item {
  font-size: 30px;
  color: var(--secondary-color);
}
.contact-addresses {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  transition: all .5s;
  border: 1px solid var(--secondary-color);
  border-radius: var(--button-radius);
  padding: 0.7rem 1rem;
  background-color: var(--primary-color);
}
.contact-addresses:hover{
 
  color: var(--primary-color);
  background-color: var(--secondary-color);
  
}
.address-item,
.open-time-header {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.open-time-header span{
  text-transform: capitalize;
}
.social-item-icon {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: var(--greyish-shading);
  color: var(--secondary-color);
    font-size: 19px;
}
.open-time-details {
  display: flex;
  flex-direction: column;
  padding: 0 0 0.2rem 3rem;
}

.form-input {
  margin: 1rem auto;
  display: grid;
}
.form-input label {
  text-transform: capitalize;
  font-weight: 550;
  color: var(--light-shading);
  margin-bottom: .3rem;
}
.form-input input[type="text"],
.form-input input[type="email"],
textarea {
  padding: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  outline: none;
  border: 1px solid var(--secondary-color);
}
.form-input input[type="text"]:focus,
.form-input input[type="email"]:focus,
textarea:focus {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
}
.form-input input[type="text"],
textarea {
  text-transform: capitalize;
}
.form-input input[type="text"]::placeholder,
.form-input input[type="email"]::placeholder,
textarea::placeholder {
  font-weight: 400;
  text-transform: none;
}
.form-submit input[type="submit"] {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 17px;
  font-weight: 550;
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: var(--button-radius);
}

@media screen and (max-width:650px) {
  .contact-details{
    grid-template-columns: repeat(1,1fr);
  }
  .contact-addresses {
    /* align-items: center; */
    gap: 1rem;
  }
}