@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-font:"Inter", sans-serif;
  --secondary-font:"Dancing Script", cursive;
  --shadow:0 2px 4px 0 rgba(50, 50, 93, .2);
  --button-radius:7px;
  --primary-color:#fff;
  --greyish-shading:#f6f6f6;
  --border-shading:#a19f9f;
  --light-shading:#757575;
}
html, body{
  overflow-x: hidden;
  font-family: var(--primary-font);
}
a{
  text-decoration: none;
}
.section-title{
  text-transform: capitalize;
  text-align: center;
  color: #000;
  font-size: 35px;
  padding: .7rem 0;
}
.section-subtitle{
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.card{
  border-radius: var(--button-radius);
  box-shadow: var(--shadow);
  overflow: hidden;
}
